@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Bubbler One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header{
    background-image: url("../img/inicial.png");
    background-repeat: no-repeat;
    background-size: cover;      /* Make the image cover the header area */
    background-position: center; /* Center the image */
    background-attachment: fixed;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; /* Utilizado par os cards não sairem do contianer */
}

.container_header{
 
}

nav{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 2rem 0;
}

nav div{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.container_titulos{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 15rem 0;
    text-transform: uppercase;
}

.container_titulos h2{
    font-size: 6em;
    font-family: "Bubbler One", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.container_titulos p{
    margin-top: .6rem;
    font-size: 2em;
    font-weight: 100;
    color: rgb(230, 230, 230);
}

.container_titulos button{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    padding: .8rem 3rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

section{
    padding: 6rem;
    background-attachment: fixed;
}

.prato_container{
    display: flex;
    align-items: center;
}

.prato_descricao{
    text-align: center;
}

.prato_descricao h2{
    margin-bottom: 1rem;
}

.btn_padrao{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid #64746F;
    padding: .8rem 3rem;
    color: #64746F;
    font-size: 1rem;
    cursor: pointer;
}

.section_two{
    background-image: url('../img/teste.jpg');
    background-repeat: no-repeat;
    background-size: cover;      /* Make the image cover the header area */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    color: white;
    
}

.section_two button{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: .8rem 3rem;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.title_page{
    font-size: 2em;
    color: #64746F;
    font-family: "Bubbler One", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
}

.nav_produtos{
    align-items: center;
    margin: 1rem 0 4rem 0;
}

.nav_produtos nav{
    color: #64746F;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.5em;
    font-weight: 600;
}

.prdoutos_sessao{
    display: flex;
    gap: 1rem;
}

.prdoutos_sessao .produto{
    align-items: center;
    text-align: center;
}

.produto h3{
    font-size: 1.8em;
    color: #64746F;
    font-family: "Bubbler One", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    margin: 1rem 0;
}